PORT=4003
MONGO_URI=mongodb://localhost:27017/cinema_booking
SEAT_SERVICE_BASE_URL=http://localhost:4001
PAYMENT_SERVICE_BASE_URL=http://localhost:4004
JWT_SECRET=cinema-dev-secret
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_DAYS=7
ADMIN_REG_SECRET=
